export DB_NAME= cat_social
export DB_PORT= 5433
export DB_HOST= localhost
export DB_USERNAME= myuser
export DB_PASSWORD= mypassword
export DB_PARAMS="sslmode=disable"# this is needed because in production, we use `sslrootcert=rds-ca-rsa2048-g1.pem` and `sslmode=verify-full` flag to connect
# read more: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/PostgreSQL.Concepts.General.SSL.html
export JWT_SECRET=
export BCRYPT_SALT=8# don't use 8 in prod! use > 10